@import './../../styles.scss';


#projects-section{
    height: 90vh;
}

.content{
    width: 850px;
}

h3{
    margin-bottom: 12px;
}

.description{
    color: white;
    display: block;
    margin-top: 24px;
    margin-bottom: 32px;
    font-family: 'Karla';
    font-size: 16px;
    line-height: 20px;
    width: 80%;
}

.projects-div{
    width: 700px;
    display: flex;
    flex-direction: column;
}

.arrow-link{
    height: 18px;
    width: 168x;
    display: none;
    margin-left: 4px;
    
}

.project-row{
    @include displayFlex($jc: space-between);
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    height: 80px;
    padding-left: 24px;
    padding-right: 24px;
    transition: all 200ms ease;

    &:hover{
        cursor: pointer;
        background-color: rgba(61, 207, 182, 0.2);
    }

    &:hover .arrow-link{
        display: block;
    }
}

.middle-row{
    border: none;
}

.project-title{
    @include displayFlex();
    color: white;
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 20px;
}



.project-technologies{
    @include displayFlex();
    flex-wrap: wrap;
}

.technology-span{
    font-family: 'Karla';
    font-size: 14px;
    color: white;

}

.small-bar{
    width: 0;
    height: 14px;
    border: 1px solid $green;
    margin-left: 8px;
    margin-right: 8px;
}


.flex-div{
    @include displayFlex($jc: flex-start);
}


.projects-preview-div{
    position: relative;
    width: 330px;
    height: 280px;
    margin-left: 48px;
}

.single-project-preview-div{
    position: relative;
}

.project-img-small{
    z-index: 20;
    position: absolute;
    top: 0;
    aspect-ratio: 1.536;
    width: 210px;
    height: auto;
}

.small-project-bg{
    position: absolute;
    top: 16px;
    left: 16px;
    aspect-ratio: 1.536;
    width: 210px;
    height: auto;
}

.project1-preview{
    position: absolute;
    top: 0;
}
.project2-preview{
    position: absolute;
    top: 80px;
}
.project3-preview{
    position: absolute;
    top: 160px;
}


@media(max-width:950px){
    .projects-div{
        width: 500px;
    }
    .projects-preview-div{
        width: 200px;
    }
    .content{
        padding-left: 40px;
    }
}
@media(max-width:850px){
    .technology-span{
        font-size: 12px;
    }
    .projects-div{
        width: 500px;
        z-index: 120;
    }
    .projects-preview-div{
        width: 180px;
        margin-left: 32px;
    }
    .project-img-small{
        width: 170px;
    }
    .small-project-bg{
        width: 170px;
    }
   
}


@media(max-width: 775px){
    .content{
        padding-top: 750px;
        margin-top: 800px;
        width: 80%;
        
    }
    .projects-preview-div{
        display: none;
    }
   
}

@media(max-width: 700px){
    .content{
        width: 100%;        
        @include displayFlex($ai: flex-start);
        flex-direction: column;
        padding-left: 64px;
    }
}


@media(max-height: 600px){
    #projects-section{
        height: 100%;
        padding-top: 40px;
    }
  
}


@media(max-width: 600px){
    .content{
        padding-left: 32px;       
    }
    .description{
        width: 80%;
    }
    .projects-div {
        width: 90%;
    }
    .project-row{
        width: 100%;
    }

}

@media(max-width: 500px){
    .content{
        margin-top: 950px;
    }
}
@media(max-width: 450px){
    .content{
        margin-top: 1050px;
    }
}