

    <div class="mobile-menu-bg" [ngClass]="{'hide': !mobileMenuOpen,'show': mobileMenuOpen}" (click)="closeMenu()">
        <div class="mobile-menu" [@slideInOut]="mobileMenuOpen ? 'in' : 'out'" (click)="$event.stopPropagation()">
            <div class="mobile-menu-header"> <img src="./../../../assets/img/menu.png" class="mobile-menu-img" (click)="closeMenu()"></div>
            <a href="#about-1">{{'nav.about' | translate}}</a>
            <a href="#skills-1">{{'nav.skills' | translate}}</a>
            <a href="#projects-1">{{'nav.projects' | translate}}</a>
            <label class="switch">
                <input type="checkbox" [checked]="currentLanguage === 'de'" (change)="triggerLanguageToggle($event)">
                <span class="slider"></span>
            </label>
        </div>
    </div>


