@import './../../styles.scss';

// *{
//     box-sizing: border-box;
// }


.footer-bg{
    width: 100%;
    background-color: rgb(28, 28, 28);
     @include displayFlex();
}

.footer{
    width: 100%;
    max-width: 1920px;
   
    padding: 40px;
    
}

.footer-content{
    width: 100%;
    @include displayFlex($jc: space-between);
}

.footer-left, .footer-center, .footer-right{
    height: 100%;
    @include displayFlex($ai: flex-start);
    flex-direction: column;
}

.footer-logo{
    width: 132px;
    height: 48px;
    margin-bottom: 16px;
}

a, .footer-text{
    font-family: 'Karla';
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    transition: all 125ms ease;
}

a:hover{
    color: $green;
}

.copyright{
    font-family: 'Fira Code';
    color: $green;
    font-size: 18px;
}

.mobile-footer-div{
    display: none;
    width: 100%;
    
    
}


@media(max-height:750px){
    .footer{
        margin-top: 150px;
    }
}

@media(max-width: 900px){
    
    .footer{
        padding-top: 500px;
        margin-top: 500px;
    }
}

@media(max-width: 600px){
    .footer {
        padding: 12px;
        padding-top: 500px;
       
       
    }
    .footer-center{
        display: none;
    }
    .footer{
        flex-direction: column;
    }
    .mobile-footer-div{
        @include displayFlex();
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

@media(max-width: 500px){
    .footer{
        margin-top: 600px;
    }
}
@media(max-width: 450px){
    .footer{
        margin-top: 700px;
    }
}


@media(max-width: 435px) and (max-height: 940px){
    .footer{
        margin-top: 800px;
    }
}

@media (max-width: 400px) and (max-height: 850px){
   .footer{
    margin-top: 1000px;
   }
}


@media(max-width: 400px) and (max-height: 750px){
    .footer{
        margin-top: 300px;
    }
}