<div class="footer-bg">
    <div class="footer">
        <div class="footer-left">
            <img src="./../../assets/img/Logo_dark(1).png" class="footer-logo">
            <span class="footer-text">Web Developer</span>
            <span class="footer-text">Leipzig Germany</span>
        </div>
        <div class="footer-center"><span class="copyright">&copy; Marius Kasparek 2024</span></div>
        <div class="footer-right">
            <a href="#">GitHub</a>
            <a href="#">LinkedIn</a>
            <a href="mailto:marius.kasparek@gmail.com">Email</a>
            <a href="#">Legal Notice</a>
        </div>

    </div>
</div>
