<div class="footer-bg">
    <div class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <img src="./../../assets/img/Logo_dark(1).png" class="footer-logo">
                <span class="footer-text">{{ 'footer.1' | translate}}</span>
                <span class="footer-text">{{ 'footer.2' | translate}}</span>
            </div>
            <div class="footer-center"><span class="copyright">&copy; Marius Kasparek 2024</span></div>
            <div class="footer-right">
                <a href="https://github.com/mariuskas1" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://www.linkedin.com/in/marius-kasparek-b42a94336" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                <a href="mailto:marius.kasparek@gmail.com">Email</a>
                <a href="imprint">{{ 'footer.3' | translate}}</a>
            </div>
        </div>
        

        <div class="mobile-footer-div">
            <span class="copyright">&copy; Marius Kasparek 2024</span>
        </div>

    </div>

    
</div>
