<div class="normal-bg" id="contact-section">
    <div class="normal-content">
        <div class="contact-info">
            <h3>{{ 'contact.title' | translate}}</h3>
            <h4>{{ 'contact.title2' | translate}}</h4>
            <span class="info-subheader">{{ 'contact.title3' | translate}}</span>
            <span class="info-text">{{ 'contact.text1' | translate}} <br> <br>
                {{ 'contact.text2' | translate}} <span class="green">{{ 'contact.text3' | translate}}</span>
            </span>
            
        </div>

        <div class="contact-form-div">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-div">
                    <span class="input-caption">{{ 'contact.form.caption1' | translate}}</span>
                    <input spellcheck="false" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="{{ 'contact.form.placeholder1' | translate}}" required >
                </div>
                <div class="input-div" id="middle-div">
                    <span class="input-caption">{{ 'contact.form.caption2' | translate}}</span>
                    <input spellcheck="false" [(ngModel)]="contactData.email" name="email" type="email" id="email" placeholder="{{ 'contact.form.placeholder2' | translate}}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                </div>
                <div class="input-div">
                    <span class="input-caption">{{ 'contact.form.caption3' | translate}}</span>
                    <textarea spellcheck="false" #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" placeholder="{{ 'contact.form.placeholder3' | translate}}" required></textarea>
                </div>

                <div class="checkbox-div">
                    <label class="checkbox-container">
                        <input type="checkbox" [(ngModel)]="policyAccepted" name="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <span class="checkbox-text">{{ 'contact.form.policy1' | translate}} <a href="">{{ 'contact.form.policy2' | translate}}</a> {{ 'contact.form.policy3' | translate}}</span> 
                </div>

                <!-- <div class="form-msg-div">
                    @if (!message.valid && message.touched){
                        <span class="form-msg">Please enter a message</span>
                    }
                </div> -->
                

                <button type="submit" [disabled]="!policyAccepted">{{ 'contact.form.button' | translate}}</button>


            </form>

        </div>

    </div>
</div>