@import './../../styles.scss';



#contact-section{
    height:90vh;
}

.normal-content{
    align-items: flex-start;
    border: none;
}

h4{
    line-height: 48px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.info-subheader{
    font-family: 'Fira Code';
    font-size: 18px;
    font-weight: 700;
    color: $green;

}

.info-text{
    color: white;
    font-family: 'Karla';
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-top: 16px;
    width: 90%;
    
}

.green{
    color: $green;
}


.contact-info{
    width: 500px;
    height: 100%;
    
}

.contact-form-div{
    width: 500px;
    padding-left: 32px;
    
}

form{
    @include displayFlex();
    flex-direction: column;
    border: none;
    width: 100%;
}


.input-div{
    @include displayFlex($ai: flex-start);
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    padding:  24px 32px;
    box-sizing: border-box;
}

#middle-div{
    border: none;
}

.input-caption{
    font-family: 'Fira Code';
    color: $green;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input[type=text],[type=email],textarea{
    width: 90%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-family: 'Karla';
    resize: vertical;
    min-height: 32px;
    max-height: 64px;
}

input::placeholder, textarea::placeholder{
    color: rgb(255, 255, 255, 0.8);
    font-family: 'Karla';
    font-size: 14px;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important; /* Ensures background remains transparent */
    -webkit-text-fill-color: white !important; /* Ensures text color remains white */
    background-clip: content-box !important; /* Maintains transparency */
    border: none !important; /* Maintains no border */
    font-family: 'Karla' !important; /* Consistent font */
    transition: background-color 5000s ease-in-out 0s !important; /* Prevents color flash */
}

/* Ensures no flash and transparency during autofill */
input:-webkit-autofill, textarea:-webkit-autofill {
    transition: background-color 5000s ease-in-out, color 5000s ease-in-out;
    -webkit-background-clip: text; /* Chrome-specific to clip background color to text */
}


input:focus::placeholder, textarea:focus::placeholder {
    color: transparent; 
}

.checkbox-div{
    @include displayFlex($jc: flex-start);
    margin-top: 32px;
    width: 100%;
    padding-left: 8px;
    
    
}


.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox container */
.checkbox-container {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

/* Style the custom checkmark box */
.checkbox-container .checkmark {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1.5px solid $green;
    border-radius: 2px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    transition: background-color 125ms, border-color 125ms;
}

/* Show checkmark when checked */
.checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: $green; /* Color when checked */
    border-color: $green;
}

.checkbox-text{
    color: white;
    font-size: 11px;
    font-family: 'Karla';
    display: block;
    
}

.checkbox-text a{
    color: $green;
    text-decoration: none;
    font-family: 'Fira Code';
    margin-left: 2px;
    margin-right: 2px;
}

.checkbox-div a:hover{
    color: white;
}

button{
    margin-top: 32px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);

    border-radius: 24px;
    height: 40px;
    width: 110px;
    transition: all 125ms ease;
}

button:hover{
    cursor: pointer;
    color: $green;
    border: 1px solid $green;
}

button:disabled{
    cursor: default;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}


.form-msg-div{
    margin-top: 16px;
    height: 14px;
    width: 100%;
    border: 1px solid white;
    @include displayFlex();
}

.form-msg{
    color: $green;
    font-family:  'Karla';
    font-size: 12px;
}




@media(max-width: 1100px){
    .contact-form-div, .contact-info{
        width: 450px;
    }
   
}
@media(max-width: 1000px){
    .contact-form-div, .contact-info{
        width: 400px;
    }
}
@media(max-width: 850px){
    .contact-form-div, .contact-info{
        width: 350px;
    }
    .input-div{
        padding: 20px;
    }

    input[type=text],[type=email],textarea{
      
        min-height: 24px;
        max-height: 40px;
    }

    button{
        z-index: 300;
    }
}





@media(max-width: 775px){
   
    #contact-content{
        flex-direction: column;
        align-items: center;
        padding-top: 800px;
        margin-top: 1000px;
    }
    .contact-form-div, .contact-info{
        width: 70%;
    }
    .contact-form-div{
        padding-left: 0;
        margin-top: 40px;
        margin-bottom: 140px;
    }
}


@media(max-height: 600px){
    #contact-section{
        height: 100%;
        padding: 80px;
        
    }
}

@media(max-width:700px){
    .contact-form-div, .contact-info{
        width: 80%;
    }
}

@media(max-width: 600px){
    #contact-content{
        align-items: flex-start;
        margin-top: 1050px;
        padding-left: 32px;
    }
    .contact-info{
        width: 95%;
    }
}

@media(max-width: 500px){
    #contact-content{
        margin-top: 1200px;
    }
}
@media(max-width: 450px){
    #contact-content{
        margin-top: 1350px;
    }
}