<div class="normal-bg">
   <div class="normal-content">
      <div class="content">
         <div class="left">
             <img src="./../../assets/img/Photo.png" class="photo">
         </div>
         <div class="right">
             <div class="box">
               <h3>Who I am</h3>
               <div class="info-box">
                  <h4>About me</h4>
                  <span class="info-text">
                     Hi, I'm a german and english speaking Fullstack Developer based in Leipzig. Motivated by the limitless
                     opportunities within IT, I am excited about crafting visually captivating and intuitive websites and 
                     applications.
                  </span>
                  <div class="info-row">
                     <img src="./../../assets/img/location_on.png" class="info-row-img">
                     <span class="info-row-text">Flexible in terms of working environments, I can work effectively both on-site in 
                        Leipzig and remotely.
                     </span>
                  </div>
                  <div class="info-row">
                     <img src="./../../assets/img/cognition.png" class="info-row-img">
                     <span class="info-row-text">I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.
                     </span>
                  </div>
                  <div class="info-row">
                     <img src="./../../assets/img/Quality.png" class="info-row-img">
                     <span class="info-row-text">In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical 
                        challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                     </span>
                  </div>
               </div>

             </div>
         </div>
    </div>
   </div>
   



</div>
