<div class="normal-bg">
   <div class="normal-content" >
      <div class="content">
         <div class="left">
            <div class="image-container">
               <img src="./../../assets/img/Photo.png" class="photo">
            </div>
         </div>
         <div class="right" >
             <div class="box">
               
                  <h3 id="about-1">{{ 'about.title' | translate }}</h3>
                  <div class="info-box" >
                     
                     <h4>{{ 'about.title2' | translate }}</h4>
                     <div class="scroll-div">
                     <span class="info-text">{{ 'about.text1' | translate }}</span>
                     <div class="info-row">
                        <img src="./../../assets/img/location_on.png" class="info-row-img">
                        <span class="info-row-text">{{ 'about.text2' | translate }}</span>
                     </div>
                     <div class="info-row">
                        <img src="./../../assets/img/cognition.png" class="info-row-img">
                        <span class="info-row-text">{{ 'about.text3' | translate }}</span>
                     </div>
                     <div class="info-row">
                        <img src="./../../assets/img/Quality.png" class="info-row-img">
                        <span class="info-row-text">{{ 'about.text4' | translate }}</span>
                     </div>
                  </div>
               </div>

             </div>
         </div>
    </div>
   </div>
   



</div>
