@import './../../styles.scss';

:host{
    margin-top: 100px;
}

.content{
    @include displayFlex();
    width: 1400px;
    height: 708px;
    padding-top: 56px;
   
}

#about{
    position: absolute;
    top: 950px; 
    width: 0;
    height: 0;
    overflow: hidden;
}

.left{
    @include displayFlex($ai: flex-start);
    width: 50%;
    height: 100%;
}

.right{
    @include displayFlex($ai: flex-end);
    width: 50%;
    height: 100%;
   
}


.image-container{
    position: relative;

    &:hover .stripes-bg{
        opacity: 1;
    }

    &:hover .photo{
        filter: none;
    }


}

.stripes-bg{
    position: absolute;
    top: 32px;
    left: -32px;
    z-index: 10;
    opacity: 0;
    transition: all 500ms ease;
}

.photo{
    position: inherit;
    aspect-ratio: 1/1;
    width: 568px;
    height: auto;
    border-radius: 20px;
    z-index: 500;
    filter: grayscale(100%);
    transition: all 200ms ease;
}




.info-box{
    aspect-ratio: 1/1;
    width: 568px;
    height: auto;
    border: 1px solid $green;
    border-radius: 20px;
    background: rgba(61, 207, 182, 0.1);
    backdrop-filter: blur(4px);
    padding: 32px;
    margin-top: 12px;
    
}

.info-text{
    margin-top: 24px;
    margin-bottom: 32px;
    font-family: 'Karla';
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 21px;
    text-align: justify;
    display: block;
}

.info-row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.info-row-img{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.info-row-text{
    font-family: 'Karla';
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);

    &:hover{
        cursor: default;
        color: rgba(255, 255, 255, 1);
    }
}



@media(max-width: 1300px){
    .content{
        width: 95%;
        height: 100%;
    }

    .photo, .info-box{
        width: 95%;
    }

    .scroll-div {
        height: 85%;
        width: calc(100% + 32px);
        overflow: auto; 
        padding-bottom: 32px;
        padding-right: 8px;
        border: none;
     } 
}




@media(max-width: 900px){
    .content{
        flex-direction: column;
        height: auto;
        // padding-top: 450px;
        
    }

    .left, .right{
        margin-bottom: 50px;
        width: 95%;
    }



    .info-box{     
        padding: 32px;
    }
   
   .scroll-div{
    padding-right: 24px ; 
    overflow: hidden;
   }

    .right{
        margin-top: 32px;
    }
    .photo, .info-box{
        width: 568px;
        height: 568px;
    }
}


@media(max-width: 600px){
    .photo, .info-box{
        width: 100%;
        height: auto;
    }
    .info-box{
        aspect-ratio: unset;
    }
}

// @media(max-width: 400px) and (max-height: 750px){
//     .content{
//         margin-top: 200px;
//     }
// }


@media(max-height: 750px){
    #about{
        top: 750px;
    }
}

@media(max-width: 600px){
    .stripes-bg{
        display: none;
    }
}