@import './../../../styles.scss';


.title-div{
    @include displayFlex();
    flex-direction: column;
    color: rgba(217, 217, 217, 1);
}

h1{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -4px; 
}

h2{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}


.link-div{
    @include displayFlex($jc: space-between);
    width: 400px;
    font-family: 'Karla';
    margin-top: 48px;
   
    > a {      
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 21.6px;
        border: 1px solid white;
        border-radius: 100px;
        height: 48px;
        width: 170px;
        transition: all 300ms ease;
        z-index: 1000;
        // white-space: nowrap;
        @include displayFlex($jc: center, $ai: center);
    
        &:hover{
            color: $green;
            border: 1px solid $green;
            cursor: pointer;
        }
    }

}




@media(max-height: 600px){
    h1{
        font-size: 88px;
    }
    h2{
        font-size: 24px;
    }
}


@media(max-height: 500px){
    .link-div a{
        font-size: 14px;
        height: 40px;
        width: 140px;
    }

    .link-div{
        width: 350px;
    }



}


@media(max-width: 1100px){
    h1{
        font-size: 88px;
    }
    h2{
        font-size: 24px;
    }
}

@media(max-width: 1000px){
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 24px;
    }

    .link-div a{
        font-size: 16px;
        height: 40px;
        width: 150px;
    }
    .link-div{
        width: 340px;
    }
}

@media(max-width: 750px){
    h1{
        font-size: 64px;
    }
}



@media(max-width: 650px){
    h1{
        font-size: 56px;
    }
    h2{
        font-size: 20px;
    }
    .link-div{
        margin-top: 24px;
        width: 320px;
       
    }
}

@media(max-width: 500px){
    h1{
        font-size: 48px;
    }
    .link-div a{
        font-size: 14px;
        height: 40px;
        width: 130px;
    }
    .link-div{
        width: 280px;
    }

}

@media(max-width: 350px){
    h1{
        font-size: 40px;
    }
    
}