<app-navbar></app-navbar>

<div class="normal-bg">
  <div class="policy-div">
    <h4>{{ 'policy.title' | translate }}</h4>

    <div id='generator_results'>
        <div id='generator_results_content'>
        <span class="subheader">{{ 'policy.sh1' | translate}}</span>
        <p>{{ 'policy.p1' | translate}}</p>
        <p class='generator_user_input'>Marius Kasparek</p>
        
        <span class="subheader">{{ 'policy.sh2' | translate}}</span>
        <p>{{ 'policy.p2' | translate}}</p>
        <ul>
        <li>{{ 'policy.li1' | translate}}</li>
        <li>{{ 'policy.li2' | translate}}</li>
        <li>{{ 'policy.li3' | translate}}</li>
        <li>{{ 'policy.li4' | translate}}</li>
        <li>{{ 'policy.li5' | translate}}</li>
        <li>{{ 'policy.li6' | translate}}</li>
        </ul>
        <p>{{ 'policy.p3' | translate}}</p>
        <p>{{ 'policy.p4' | translate}}</p>
        <p>{{ 'policy.p5' | translate}} <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
        
        <span class="subheader">{{ 'policy.sh3' | translate}}</span>
        <span class="subheader">{{ 'policy.sh4' | translate}}</span>
        <span>{{ 'policy.p6' | translate}}</span>
        <p>{{ 'policy.p7' | translate}}</p>
        <p>{{ 'policy.p8' | translate}}</p>
        
        <p>{{ 'policy.p9' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh5' | translate}}</span>
        <p>{{ 'policy.p10' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh6' | translate}}</span>
        <p>{{ 'policy.p11' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh7' | translate}}</span>
        <p>{{ 'policy.p12' | translate}}</p>
        <p>{{ 'policy.p13' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh8' | translate}}</span>
        <p>{{ 'policy.p14' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh9' | translate}}</span>
        <p>{{ 'policy.p15' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh10' | translate}}</span>
        <p>{{ 'policy.p16' | translate}}</p>
        <p>{{ 'policy.p17' | translate}}</p>
        <p>{{ 'policy.p18' | translate}}</p>
        <p>{{ 'policy.p19' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh11' | translate}}</span>
        <p>{{ 'policy.p20' | translate}}</p>
        <p>{{ 'policy.p21' | translate}}</p>
        <p>{{ 'policy.p22' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh12' | translate}}</span>
        <p>{{ 'policy.p23' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh13' | translate}}</span>
        <p>{{ 'policy.p24' | translate}}</p>
        <p>{{ 'policy.p25' | translate}}</p>
        <span class="subheader">{{ 'policy.sh14' | translate}}</span>
        <p>{{ 'policy.p26' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh15' | translate}}</span>
        <p>{{ 'policy.p27' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh16' | translate}}</span>
        
        <span class="subheader">{{ 'policy.sh17' | translate}}</span>
        <p>{{ 'policy.p28' | translate}}</p>
        <p>{{ 'policy.p29' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh18' | translate}}</span>
        <p class='generator_user_input'>Marius Kasparek<br />
        Papiermühlstraße 53<br />
        04299 Leipzig<br />
        <br />
        e-mail: marius.kasparek&#64;gmail.com</p>
        
        <span class="subheader">{{ 'policy.sh19' | translate}}</span>
        <p>{{ 'policy.p31' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh20' | translate}}</span>
        <p>{{ 'policy.p32' | translate}}</p>
        
        <span class="subheader">{{ 'policy.sh21' | translate}}</span>
        <p><em>{{ 'policy.p33' | translate}} <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener dofollow">{{ 'policy.p34' | translate}}</a> (Version #2024-10-25).</em></p>
        </div>
        </div>


  </div>
</div>

<app-footer></app-footer>
