@import './../../styles.scss';

:host ::ng-deep {
    .normal-bg{
        max-height: unset;
        height: 100vh !important;
    
    }
    .menu a, .mobile-menu a{
        display: none;

    }
    .footer-bg{
        position: fixed;
        bottom: 0;
    }
    .footer{
        margin-top: 0 !important;
    }
    nav{
        padding: 0;
    }
    
}

.policy-div{
    
    position: fixed;
    top: 140px;
    width: 80%;
    height: 60%;
    border: none;
    color: white;
    font-family: 'Karla';
    overflow: auto;
    max-width: 1700px;

    p{
        font-size: 16px;
    }

    li{
        font-size: 16px;
    }
}

.subheader{
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
}


@media(max-width: 900px){
    :host ::ng-deep{
        .footer{
            padding-top: 0px !important;
            margin-top: 0px !important;
        }
    }
    .policy-div {
        width: 90%;
        padding-right: 24px;
    }
}


@media(max-width: 650px){
    :host ::ng-deep{
          h4{
            font-size: 22px;
          }
    }
   
  }


@media(max-height: 750px){
    .policy-div{
        height: 50% ;
    
    
    }
}