@import './../../styles.scss';

:host ::ng-deep {
    .normal-bg{
        height: 100vh !important;
    }
    .menu a{
        display: none;

    }
    .footer-bg{
        position: fixed;
        bottom: 0;
    }
    .footer{
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 8px !important;
        padding-top: 8px !important;
    }
    
}

.policy-div{
    position: fixed;
    top: 98px;
    width: 80%;
    height: 55%;
    border: none;
    color: white;
    font-family: 'Karla';
    overflow: auto;

    p{
        font-size: 14px;
    }

    li{
        font-size: 14px;
    }
}

.subheader{
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
}




@media(max-width: 650px){
    :host ::ng-deep{
        .menu{
            display: block !important;
          }
          .mobile-menu-img {
            display: none !important;
          }

          h4{
            font-size: 22px;
          }
    }
   
  }


@media(max-height: 700px){
    .normal-bg{
        overflow: unset;
    }

    .policy-div{
        height: 50%;
    
        p{
            font-size: 12px;
        }
    
        li{
            font-size: 12px;
        }
    }
}