<div class="smaller-bg">
    <div class="normal-content">
        <div class="references-section">
            <span class="references-header">What my colleagues say about me</span>

            <div class="references-container">
                
                    @for (slide of slides; track $index) {
                        <div class="reference-div" [ngClass]="getSlideClass($index)" [@slideAnimation]="getSlideClass($index)">
                            <span class="reference-text">{{slide.text}}
                            </span>

                            <div class="reference-name-div">
                                <div class="reference-footer-bar"></div>
                                <span class="reference-name">{{slide.name}}</span>
                            </div>
                        </div>
                    }

                
            </div>

            <div class="references-footer">
                <div class="arrows-div">
                    <img src="./../../assets/img/arrow_back.png" class="arrow-img" id="arrow-back" (click)="previousSlide()">
                    <img src="./../../assets/img/Ellipse 3.png" class="ellipse-img" [ngClass]="{ 'green': currentSlide === 0 }">
                    <img src="./../../assets/img/Ellipse 3.png" class="ellipse-img" [ngClass]="{ 'green': currentSlide === 1 }">
                    <img src="./../../assets/img/Ellipse 3.png" class="ellipse-img" [ngClass]="{ 'green': currentSlide === 2 }">
                    <img src="./../../assets/img/arrow_forward_white.png" class="arrow-img" id="arrow-next" (click)="nextSlide()">
                </div>
            </div>
        </div>
    </div>
</div>
