@import './../../styles.scss';

.landing-page-bg{
    height: 100vh;
    width: 100%;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    @include displayFlex();
    overflow: hidden;
    position: relative;
}

.landing-page-content{
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    @include displayFlex();
    position: relative;
}