

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


$green: rgba(61, 207, 182, 1);

@mixin displayFlex($jc: center, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}


.fontFira{
    font-family: 'Fira Code';
}

.fontKarla{
    font-family: 'Karla';
}


@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
    font-style: normal;
}


.normal-bg{
    width: 100%;
    height: 90dvh;
    max-height: 900px;
    background-color: rgb(28, 28, 28);
    @include displayFlex();
}

.normal-content{
    width: 100%;
    max-width: 1920px;
    @include displayFlex();
    overflow: hidden;
}



::-webkit-scrollbar {
    width: 8px;
    // height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(41, 41, 41); 
}

::-webkit-scrollbar-thumb {
    background: #494949; 
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #545454; 
}



h3{
    font-weight: 700;
    font-family: 'Karla';
    font-size: 24px;
    color: $green;
}

h4{
    font-weight: 700;
    font-family: 'Fira Code';
    font-size: 64px;
    color: $green;
}

.green{
    color: $green;
}


@media(max-width: 1100px){
    h4{
        font-size: 40px;
    }
}


@media(max-height: 750px){
    .normal-bg{
        height: calc(100vh + 40px);
    }
//     .normal-content{
//         height: 100% ;
//     }
// }
}

@media(max-height: 930px){
    .normal-bg{
        max-height: unset;
        height: 100vh;
    }
}

@media(max-width: 450px) and (max-height: 900px){
    h3{
        padding-left: 8px;
    }
}