<app-navbar></app-navbar>

<div class="normal-bg">
    <div class="imprint">
        
            <h4>{{ 'imprint.header' | translate }}</h4>
            <span class="subheader">{{ 'imprint.header2' | translate }}</span>
            <p>Marius Kasparek</p>
            <p>Papiermühlstraße 53</p>
            <p>04299 Leipzig</p>
            <span class="subheader">{{ 'imprint.contact' | translate }}</span>
            <table>
                <tbody> 
                    <tr>
                        <td>{{ 'imprint.c2' | translate }}:</td>
                        <td><a href="tel:+4915754361782">0157 54361782</a></td>
                    </tr>
                    <tr>
                        <td>{{ 'imprint.c1' | translate }}:</td>
                        <td><a href="mailto:marius.kasparek@gmail.com">marius.kasparek&#64;gmail.com</a></td>
                    </tr>
                </tbody>
            </table>
    </div>
      
    <app-footer></app-footer>

</div>
