@import './../../styles.scss';




:host ::ng-deep {
    .normal-bg{
        max-height: unset;
        height: 100dvh !important;
    }
    .menu a, .mobile-menu a{
        display: none;

    }
    .footer-bg{
        position: fixed;
        bottom: 0;
    }
    
    
}

.imprint{
    position: fixed;
    top: 98px;
    width: 80%;
    max-width: 1440px;
    height: 100%;
    border: none;
    color: white;
    font-family: 'Karla';
    padding-top: 40px;

    p{
        font-size: 18px;
        padding-left: 16px;
    }
    a{
        text-decoration: none;
        color: $green;
    }

    table{
        font-size: 18px;
        margin-left: 16px;

    }
}

.subheader{
    padding-left: 16px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
}

.contact{
    padding-left: 16px;
    display: block;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 18px;
}

:host ::ng-deep{
    .footer{
        margin-top: 0 !important;
    }
}

@media(max-width: 900px){
    :host ::ng-deep{
        .footer{
            padding-top: 0px !important;
            margin-top: 0px !important;
        }
    }
}


@media(max-width: 400px){
    *{
        padding-left: 0 !important;
    }
    table{
        margin-left: 0;
    }
}







