
<div class="vertical-divs">
    <div class="vertical-div left">
        <div class="arrow-div">
            <img src="./../../../assets/img/arrow.svg" class="arrow">
        </div>
        <div class="vertical-bar-left"></div>
    </div>
    
    
    <div class="vertical-div right">
        <a href="mailto:marius.kasparek@gmail.com" class="mail fontKarla">
            <span>marius.kasparek&#64;gmail.com</span>
        </a>
        <img src="./../../../assets/img/greenmail.png" class="contact-icon" id="mobile-mail-icon">
        <img src="./../../../assets/img/git_contact.png" class="contact-icon">
        <img src="./../../../assets/img/in_contact.png" class="contact-icon">
        <div class="vertical-bar-right"></div>
    </div>
</div>

