@import './../../../styles.scss';


.vertical-divs{
    z-index: 50;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    @include displayFlex($jc: space-between, $ai: flex-end);
}

.vertical-div{
    @include displayFlex($jc: flex-start, $ai: center);
    flex-direction: column;
    border: none;
    width: 40px;
}

.left{
    margin-left: 48px;
}

.right{
    margin-right: 64px;
}

#mobile-mail-icon{
    display: none;
    // width: 26px;
    // height: 21px;
}

.vertical-bar-right{
    width: 0;
    height: 150px;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 8px;
    // margin-right: 16px;
}

.vertical-bar-left{
    width: 0;
    height: 200px;
    border: 1px solid $green;
    border-radius: 4px;
}


.contact-icon{
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    position: relative;  

    &:hover{
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7451%) hue-rotate(342deg) brightness(93%) contrast(97%);
        cursor: pointer;
    }
}

 

.arrow-div{
    @include displayFlex();
    width: 30px;
    height: 48px;
    border: 1px solid $green;
    margin-bottom: 16px;
    border-radius: 32px;
}

.arrow{
    height: 12px;
    width: 10px;
    animation: moveUpDown 2s infinite ease;
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(8px); 
    }
    100% {
      transform: translateY(0); 
    }
  }


  .mail{
    display: inline-block; 
    transform: rotate(270deg);
    margin-bottom: 120px;
    color: white;
    font-size: 18px;
    height: 22px;
    text-decoration: none;
    transition: all 125ms ease;

    &:hover{
        color: $green;
        cursor: default;
    }
  }


  @media(max-height: 600px){
    .vertical-bar-right{
        height: 88px;
        margin-top: 2px;
    }
    .mail{
        margin-bottom: 105px;
        font-size: 16px;
    }
    .vertical-bar-left{
        height: 150px;
    }
  }


  @media(max-width: 1000px){
    .left{
        margin-left: 40px;
    }
    
    .right{
        margin-right: 56px;
    }
  }

  @media(max-width: 800px){
    .left{
        margin-left: 32px;
    }
    
    .right{
        margin-right: 48px;
    }
  }
  @media(max-width: 700px){
    .left{
        margin-left: 24px;
    }
    
    .right{
        margin-right: 32px;
    }
  }

  
  
@media(max-width: 650px){
   .mail{
        display: none;
    }
    #mobile-mail-icon{
        display: block;
    }
    .vertical-bar-right{
        height: 110px;
    }
    .contact-icon{
        height: 24px;
        width: 24px;
    }
    .vertical-bar-left{
        height: 150px;
    }
    .arrow-div{
        height: 40px;
        width: 24px;
    }
    
    .left{
        margin-left: 12px;
    }
    .right{
        margin-right: 16px;
    }
}

@media(max-width: 500px){
    .vertical-bar-right{
        height: 100px;
    }
}