    <div class="nav-wrapper">
        <nav class="fontFira">
            <div class="menu">
                <label class="switch">
                    <input type="checkbox" [checked]="currentLanguage === 'de'" (change)="toggleLanguage($event)">
                    <span class="slider"></span>
                </label>
                  
                <a href="#about">{{'nav.about' | translate}}</a>
                <a href="#skills">{{'nav.skills' | translate}}</a>
                <a href="#projects">{{'nav.projects' | translate}}</a>
            </div>
            
            <img src="./../../../assets/img/logo_mobile.png" class="mobile-logo">
            
            <img src="./../../../assets/img/menu.png" class="mobile-menu-img" (click)="openMenu()">
            

            <a href=""><img src="./../../../assets/img/Logo_dark(1).png" class="logo" ></a>
            
            
        </nav>
    </div>
    
    <app-mobile-menu 
        [currentLanguage]="currentLanguage" 
        (languageToggle)="toggleLanguage($event)" 
        [mobileMenuOpen]="mobileMenuOpen"
        (menuClose)="closeMenu()">
    </app-mobile-menu>


