<div class="marquee">
    <div class="marquee-content">
        <div class="marquee-track">
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text">{{'marquee.1' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text">{{'marquee.2' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text">{{'marquee.3' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text" aria-hidden="true">{{'marquee.1' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text" aria-hidden="true">{{'marquee.2' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text" aria-hidden="true">{{'marquee.3' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text" aria-hidden="true">{{'marquee.1' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text" aria-hidden="true">{{'marquee.2' | translate}}</span>
            <img src="./../../../assets/img/radio_button.png" class="radio-btn">
            <span class="marquee-text" aria-hidden="true">{{'marquee.3' | translate}}</span>
        </div>
        
    </div>
</div>
