@import './../../../styles.scss';

.marquee{
    width: calc(100% + 80px);
    height: 62px;
    position: absolute;
    bottom: 48px;
    left: -56px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5.300000190734863px);
    padding: 2px 32px;
    z-index: 200;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: rotate(-1deg);
}

 .marquee-content{
    overflow: clip;
 }
    

.marquee-track{
    @include displayFlex();
    gap: 80px;
    padding-left: 80px;
    animation: marquee 30s linear infinite;
    width: max-content;
}


.radio-btn{
    width: 8px;
    height: 8px;
}

.marquee-text{
    font-family: 'Karla';
    font-size: 32px;
    background-color: transparent;
    color: $green;
    line-height: 38.4px;
    white-space: nowrap;
}


@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}


@media(max-height: 500px){
    .marquee{
        bottom: 24px;
        height: 48px;
    }
    .marquee-text{
        font-size: 24px;
    }
    
}

@media(max-width: 1000px){
    .marquee-text{
        font-size: 24px;
    }
}

@media(max-width: 650px){
   .marquee{
    height: 53px;
    bottom: 32px;
   }
   .marquee-text{
    font-size: 24px;
   }
}