@import './../../../styles.scss';

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    @include displayFlex();
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
}

.project-modal{
    height: 70%;
    width: 80%;
    max-height: 656px;
    max-width: 1248px;
    border: 1px solid $green;
    border-radius: 30px;
    @include displayFlex();
    flex-direction: column;
    z-index: 50;
    padding: 40px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

.project-modal-header, .project-modal-footer{
    @include displayFlex($jc: flex-end);
    width: 100%;
}



.close-btn:hover{
    cursor: pointer;
}

.close-btn:hover .close-img{
    filter: brightness(0) saturate(100%) invert(67%) sepia(96%) saturate(297%) hue-rotate(116deg) brightness(89%) contrast(90%);
    scale: 1.2;
}

.next-btn:hover{
    color: white;
    cursor: pointer;
}


.next-btn:hover .next-img{
    transform: translate(2px);
    scale: 1.2;
}



.close-btn, .next-btn{
    border: none;
    @include displayFlex();
    color: $green;
    font-family: 'Karla';
    font-size: 16px;
    background-color: transparent;
    transition: all 125ms ease;
}

.close-img {
    height: 16px;
    width: 16px;
    transition: all 125ms ease;
}

.next-img{
    height: 24px;
    width: 24px;
    margin-left: 4px;
    transition: all 125ms ease;
}


.project-modal-content{
    @include displayFlex();
    width: 100%;
    
    
}

.info-div{
    width: 50%;
    @include displayFlex($ai: flex-start);
    flex-direction: column;
}

.large-preview-div{
    width: 50%;
    @include displayFlex();
}


.project-number{
    color: $green;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 120px;
}

.project-name{
    color:white;
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 56px;
    display: block;
    margin-top: -16px;
}

.project-subheader{
    color: $green;
    font-family: 'Fira Code';
    font-size: 20px;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-description{
    color: white;
    font-family: 'Karla';
    font-size: 16px;
    width: 100%;
}

.technologies-div-large{
    @include displayFlex($jc: flex-start);
    margin-top: 16px;

}

.technology-div{
    @include displayFlex($jc: flex-start);
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 32px;
}

.technology-icon{
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(67%) sepia(96%) saturate(297%) hue-rotate(116deg) brightness(89%) contrast(90%);
}

.technology-name{
    font-family: 'Karla';
    font-size: 14px;
    color: white;
    margin-left: 2px;
}

.link-div{
    width: 100%;
    @include displayFlex($jc: flex-start);
}

.link-div a{
    text-decoration: none;
    @include displayFlex();
    color: white;
    width: 120px;
    height: 40px;
    font-family: 'Karla';
    font-size: 16px;
    border: 1px solid white;
    border-radius: 32px;
    margin-right: 24px;
    transition: all 125ms ease;

    &:hover{
        color: $green;
        border: 1px solid $green;
    }

    &:hover .arrow-img{
        transform: translate(2px, -2px);
        transition: transform 125ms ease;
    }
}


.arrow-img{
    margin-left: 8px;
}