@import './../../styles.scss';

.content{
    width: 1400px;
    @include displayFlex();
}

.info-box{
    height: 540px;
    width: 540px;
    border: 1px solid $green;
    border-radius: 20px;
    background: rgba(61, 207, 182, 0.1);
    backdrop-filter: blur(4px);
    padding: 32px;
    margin-top: 12px;
    
}

.info-text{
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Karla';
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
    display: block;
}

.sub-header{
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-top: 32px;
    display: block;
}

.btn{
    margin-top: 4px;
    font-size: 18px;
    font-family: 'Karla';
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 132px;
    height: 48px;
    width: 122px;
    transition: all 125ms ease;
    @include displayFlex();

    &:hover{
        cursor: pointer;
        color: $green;
        border: 1px solid $green;
    }
}

.skill-icons-container{
    
    gap: 40px;
    @include displayFlex($jc: flex-start, $ai: flex-start);
    width: 632px;
    height: 428px;
    flex-wrap: wrap;
}



.icon-box{
   @include displayFlex($jc: flex-start);
   flex-direction: column;
   width: 104px;
   height: 116px;
   padding-top: 8px;
}

.icon-box:hover{
    cursor: default;
}

.icon-box:hover .skill-icon{
    scale: 1.05;
}

.skill-icon{
    height: 64px;
    width: 64px;
    margin-bottom: 4px;
    transition: all 125ms ease;
}

.icon-description{
    font-family: 'Fira Code';
    font-size: 18px;
    color: white;
    text-align: center;
}


.technologies-div{
    @include displayFlex($ai: flex-start);
    flex-direction: column;
    width: 632px;
    margin-left: 96px;
  
}

.technologies-header{
    color: $green;
    font-family: 'Karla';
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 16px;
}

.technologies-footer{
    @include displayFlex($jc: flex-start);
    width: 100%;
    margin-top: 32px;
}

.next-btn{
    @include displayFlex();
    background-color: transparent;
    color: $green;
    border: none;
    font-family: 'Karla';
    font-size: 20px;
    transition: all 125ms ease;
}

.next-img{
    height: 24px;
    width: 24px;
    margin-left: 4px;
}

.next-btn:hover{
    color: white;
    cursor: pointer;
}


.next-btn:hover .next-img{
    transform: translate(2px);
    scale: 1.1;
}

#growth{
    position: relative;
}

#growth:hover .growth-div{
    display: block;
}

.growth-div{
    position: absolute;
    display: none;
}

#growth .growth-div{
    // display: block;
    top: -98px;
    left: -12px;
    
}

.growth-div .speech-bubble{
    width: 160px;
    height: 100px;
    // padding: 4px;
    @include displayFlex();
}



.speech-bubble {
	position: relative;
	background: #f5f5f5;
	border-radius: .4em;
    @include displayFlex();
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 5px;
	left: 40%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top-color: #f5f5f5;
	border-bottom: 0;
	margin-left: -11px;
	margin-bottom: -11px;
}


.bubble-content{
     @include displayFlex();
     flex-direction: column;
}

.bubble-icons-div{
    @include displayFlex();
    margin-top: 4px;
    gap: 8px;
}

.bubble-icon-box{
    @include displayFlex();
    flex-direction: column;
   
    
}

.bubble-caption{
    color: $green;
    font-family: 'Karla';
    font-size: 16px;
    text-align: center;
    width: 90%;
}

.bubble-icon{
    width: 20px;
    height: 20px;
}

@media(max-width: 1300px) and (min-width: 901px){
    .icon-box{
        width: 80px;
        height: 80px;
        padding-top: 8px;
     }
     
     .skill-icon{
         height: 56px;
         width: 56px;
     }
     .skill-icons-container{
        gap: 64px;
        width: 100%;
     }
     .technologies-div{
       
        height: 800px;
        margin-left: 40px;
        width: 50%;
     }

     #growth .growth-div{
        top: -98px;
        left: -22px;
        
    }
}

@media(max-width: 1200px) and (min-width: 901px){
    .icon-box{
        width: 64px;
        height: 64px;
        padding-top: 8px;
     }
     
     .skill-icon{
         height: 48px;
         width: 48px;
     }
     .skill-icons-container{
        gap: 56px;
     }
     .technologies-footer {
        margin-top: 48px;
     }
}





@media(max-width: 900px){
    .content{
         flex-direction: column;
         height: auto;
        
        margin-top: 700px;
    }
    .info-box{
        width: 568px;
        height: 500px;
    }
   
    .box{
        margin-top: 250px;
        padding-top: 400px;
    }
    .technologies-div{
        width: 568px;
        // margin-top: 40px;
        margin-left: 0;
        z-index: 1000;
        margin-top: 24px;
    }
  
    
}

@media(max-width: 600px){
    .content{
        width: 100%;
    }
    .info-box, .technologies-div{
        width: 100%;
        height: auto;
    }
    .skill-icons-container{
        width: 100%;
        height: auto;
    }
    .technologies-div{
        padding-left: 16px;
    }
}


@media(max-width: 500px){
    .icon-box{
        width: 80px;
        height: 80px;
        padding-top: 8px;
     }
     
     .skill-icon{
         height: 56px;
         width: 56px;
     }
     .skill-icons-container{
        gap: 64px;
        width: 100%;
     }
     .technologies-footer{
        margin-top: 64px;
     }

}

@media(max-width: 450px){
    .icon-box{
        width: 56px;
        height: 56px;
     }
     
     .skill-icon{
         height: 40px;
         width: 40px;
     }
     .skill-icons-container{
        gap: 56px;
        width: 90%;
        padding-left: 32px;
     }
     #growth .growth-div{
        top: -98px;
        left: -35px;
    }
}