<div class="normal-bg">
    <div class="normal-content">
        <div class="content">
            <div class="box">
                <h3>{{ 'skills.title' | translate }}</h3>
                <div class="info-box">
                   <h4>{{ 'skills.title2' | translate }}</h4>
                   <span class="info-text">{{ 'skills.text1' | translate }} </span>
                   <span class="sub-header">{{ 'skills.text2.1' | translate }} <span class="green">{{ 'skills.text2.2' | translate }}</span></span>
                   <span class="info-text">{{ 'skills.text3' | translate }}
                    </span>

                    <button class="btn">{{ 'skills.button' | translate }}</button>
                </div>
            </div>

            
            <div class="technologies-div">

                @if(shownTechnologies === "frontend"){
                    <span class="technologies-header">Frontend {{ 'skills.technologies' | translate }}</span>
                    <div class="skill-icons-container">
                        @for (skill of frontendSkills; track $index) {
                            <div class="icon-box" id="{{ skill.id }}">
                                <img src="{{ skill.image }}" class="skill-icon" >
                                <span class="icon-description">{{ skill.name }}</span>

                                <div class="growth-div">
                                    <div class="speech-bubble">
                                        <div class="bubble-content">
                                            <span class="bubble-caption">{{ 'skills.hover' | translate }}</span>
                                            <div class="bubble-icons-div">
                                                <div class="bubble-icon-box">
                                                    <img src="./../../assets/img/skills/React.png" class="bubble-icon">
                                                    <span class="bubble-caption">React</span>
                                                </div>
                                                <div class="bubble-icon-box">
                                                    <img src="./../../assets/img/skills/Vue Js.png" class="bubble-icon">
                                                    <span class="bubble-caption">Vue.js</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="technologies-footer">
                        <button class="next-btn" (click)="changeTechnologies()">Backend {{ 'skills.technologies' | translate }} <img src="./../../../assets/img/arrow_forward.png" class="next-img"></button>
                    </div>
                } @else if (shownTechnologies ==="backend"){
                    <span class="technologies-header">Backend {{ 'skills.technologies' | translate }}</span>
                    <div class="skill-icons-container">
                        @for (skill of backendSkills; track $index) {
                            <div class="icon-box" id="{{ skill.id }}">
                                <img src="{{ skill.image }}" class="skill-icon" >
                                <span class="icon-description">{{ skill.name }}</span>
                            </div>
                        }
                    </div>
                    <div class="technologies-footer">
                        <button class="next-btn" (click)="changeTechnologies()">Frontend {{ 'skills.technologies' | translate }} <img src="./../../../assets/img/arrow_forward.png" class="next-img"></button>
                    </div>
                }
                

            </div>
            
        </div>
    </div>
</div>
