<div class="normal-bg">
    <div class="normal-content">
        <div class="content">
            <div class="box">
                <h3>Technologies</h3>
                <div class="info-box">
                   <h4>Skill Set</h4>
                   <span class="info-text">
                    My journey has involved working on diverse projects, employing a range of frontend/backend technologies and concepts. 
                    I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead 
                    in the ever-evolving landscape of web development.
                   </span>
                   <span class="sub-header">You need <span class="green">another skill?</span></span>
                   <span class="info-text">Feel free to contact me. I look forward to <br>
                    expanding my previous knowledge.
                    </span>

                    <button class="btn">Let's Talk</button>
                </div>
            </div>

            
            <div class="technologies-div">

                @if(shownTechnologies === "frontend"){
                    <span class="technologies-header">Frontend Technologies</span>
                    <div class="skill-icons-container">
                        @for (skill of frontendSkills; track $index) {
                            <div class="icon-box" id="{{ skill.id }}">
                                <img src="{{ skill.image }}" class="skill-icon" >
                                <span class="icon-description">{{ skill.name }}</span>

                                <div class="growth-div">
                                    <div class="speech-bubble">
                                        <div class="bubble-content">
                                            <span class="bubble-caption">I have a special <br> interest in learning</span>
                                            <div class="bubble-icons-div">
                                                <div class="bubble-icon-box">
                                                    <img src="./../../assets/img/skills/React.png" class="bubble-icon">
                                                    <span class="bubble-caption">React</span>
                                                </div>
                                                <div class="bubble-icon-box">
                                                    <img src="./../../assets/img/skills/Vue Js.png" class="bubble-icon">
                                                    <span class="bubble-caption">Vue.js</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="technologies-footer">
                        <button class="next-btn" (click)="changeTechnologies()">Backend Technologies <img src="./../../../assets/img/arrow_forward.png" class="next-img"></button>
                    </div>
                } @else if (shownTechnologies ==="backend"){
                    <span class="technologies-header">Backend Technologies</span>
                    <div class="skill-icons-container">
                        @for (skill of backendSkills; track $index) {
                            <div class="icon-box" id="{{ skill.id }}">
                                <img src="{{ skill.image }}" class="skill-icon" >
                                <span class="icon-description">{{ skill.name }}</span>
                            </div>
                        }
                    </div>
                    <div class="technologies-footer">
                        <button class="next-btn" (click)="changeTechnologies()">Frontend Technologies <img src="./../../../assets/img/arrow_forward.png" class="next-img"></button>
                    </div>
                }
                

            </div>
            
        </div>
    </div>
</div>
